.countrypage{
  background-color: #070720;
  margin-bottom: -20px;
  padding-bottom: 20px;
}
.movies-list {
  padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
  }
  
  .product__item {
    background-color: #fff; 
    border-radius: 4px; 
    overflow: hidden; 
    transition: transform 0.3s; 
  }
  
  .product__item:hover {
    transform: scale(1.05); 
  }
  